@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* box-sizing default not inheritet, we force inheritnce*/
  box-sizing: inherit;
}

html {
  /* set the root font size -> since we know whats it is, we can use rem */
  /* set to % so users can zoom in by setting their own defult font-size */
  /* 10/16 = */
  font-size: 62.5%;
}

body {
  /* fonts are inherited, therefore fonts on the body element */
  font-family: "Roboto" sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background-color: rgb(169, 237, 177);
  /* add padding around site*/
  padding: 3rem;
  /* do not add border or padding  w/hin addition to elemts w/h*/
  box-sizing: border-box;
}
